.venv
exemplo_base64.txt
rosto_base64.txt
dist
build
face-crop.spec
base1.*
base2.*
base3.*
base4.*
base5.*
base6.*
base4_com_circulo.jpg
base1_base64.txt
base1_com_circulo.jpg
base2_base64.txt
base2_com_circulo.jpg
base3_base64.txt
base3_com_circulo.jpg
base4_base64.txt
