.venv
exemplo_base64.txt
rosto_base64.txt
dist
build
face-crop.spec
base1.*
base2.*
base3.*
base4.*
base5.*
base6.*

base1_base64.txt
base2_base64.txt
base3_base64.txt
base4_base64.txt
base5_base64.txt
base6_base64.txt

base1_zoomado.jpg
base2_zoomado.jpg
base3_zoomado.jpg
base4_zoomado.jpg
base5_zoomado.jpg
base6_zoomado.jpg
imagem_zoomada.jpg
imagem_base64.txt
face-crop.exe
